<body style="background-color: rgb(41, 41, 41); color:blanchedalmond">

<h1 style="text-align: center;">{{title}}</h1>

<h2>Usuario:</h2>

<div>
  {{user.name}}
  <br>
  {{user.userRole}}
  <br>
  <a href="/"><button>Ver mas</button></a>
  <br>
  <a href="/cart/{{user.cart}}"><button>ver carrito</button></a>
</div>

<h2>{{games}}</h2>

<div>
  <div>{{#each AllProducts}}
{{this.title}}
{{this.price}}
{{this.category}}
<a href="/products/{{this._id}}"><button>ver detalles del producto</button></a>
<br>
  </div>{{/each}}
</div>

<br>
<br>
<br>

<div style="text-align:center;">
  {{#if productPaginate.hasPrevPage }}
  <a href="/products?page={{productPaginate.prevPage}}">P치gina anterior</a>
  {{/if}}
    <span>P치gina actual: {{productPaginate.page}}</span>
  {{#if productPaginate.hasNextPage }}
  <a href="/products?page={{productPaginate.nextPage}}">P치gina siguiente</a>
  {{/if}} 
  <br>
    <span>Total de p치ginas: {{productPaginate.totalPages}}</span>
</div>

</div>

<script src="/js/products.js"></script>


</body>