
<h1>{{title}}</h1>

<div> {{productoEncontrado}}
    {{this.title}}
    {{this.thumbnail}}
    {{this.price}}
    {{this.category}}
    {{this.stock}}
    {{this.code}}

    <button>Agregar al carrito</button>
</div>