<body style="background-color: rgb(41, 41, 41); color:blanchedalmond">

<h1 style="text-align: center;">{{title}}</h1>

<h2>{{games}}</h2>

<div>
  <div>{{#each AllProducts}}
{{this.title}}
{{this.price}}
{{this.category}}
<button>Agregar al carrito</button>
<br>
  </div>{{/each}}
</div>

<br>
<br>
<br>

<div style="text-align:center;">
  {{#if productPaginate.hasPrevPage }}
  <a href="/products?page={{productPaginate.prevPage}}">P치gina anterior</a>
  {{/if}}
    <span>P치gina actual: {{productPaginate.page}}</span>
  {{#if productPaginate.hasNextPage }}
  <a href="/products?page={{productPaginate.nextPage}}">P치gina siguiente</a>
  {{/if}} 
  <br>
    <span>Total de p치ginas: {{productPaginate.totalPages}}</span>
</div>

</div>

<script src="/socket.io/socket.io.js"></script>


</body>