
<h1>{{title}}</h1>

<div>
  {{user.name}}
  <br>
  {{user.userRole}}
  <br>
  <a href="/"><button>Ver mas</button></a>
</div>

<div> 
    {{productoEncontrado.title}}
    {{productoEncontrado.thumbnail}}
    {{productoEncontrado.price}}
    {{productoEncontrado.category}}
    {{productoEncontrado.stock}}
    {{productoEncontrado.code}}
    <br>
    <button class="AddProd", data-product-id="{{productoEncontrado._id}}" data-cart-id="{{user.cart}}">Agregar al carrito</button>
    <br>
    <a href="/products"><button>volver atras</button></a>
</div>

<script src="/js/productId.js"></script>