
<h1>{{title}}</h1>

<h2>{{juegos}}</h2>

<div>
  <ul>{{#each prods}}
    <li>  
  {{this.title}}
  {{this.price}}
  {{this.category}}
    </li>
  </ul> {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/script.js"></script>